name: Deploy Avocado Website to Azure Web App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App (No ZIP)
        uses: azure/webapps-deploy@v2
        with:
          app-name: "avocado-web"
          package: "website-for-deployment/html"
