name: Deploy Avocado Website to Azure

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # 直接部署 website-for-deployment 目錄
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: avocado-web     # 你的 WebApp 名稱
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE }}
          package: website-for-deployment
